<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/Login_styles.css' %}" />
    <title>TaskFlow Login</title>
  </head>
  <body>
    <div class="cntr_login">
      <h1 class="title_login">Login</h1>
      <h4 class="context_login">Welcome to TaskFlow</h4>
      <form action="{% url 'home_view' %}">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
        <input class="btn_login" type="submit" value="Sign In" />
      </form>
    </div>
  </body>
</html>
