<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/Login_styles.css' %}?=v1.0" />
    <title>TaskFlow</title>
  </head>
  <body>
    <div class="cntr__login_signup">
      <div
        class="cntr_login {% if show_signup %}hidden{% else %}active{% endif %}"
      >
        <h1 class="title login">Sign In</h1>
        <h4 class="context login">
          Welcome back to <span class="__task">Task</span
          ><span class="__flow">Flow!</span>
        </h4>
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <label for="Username">Username</label>
          <input
            class="ls__form_inp"
            type="text"
            name="Username"
            id="Username"
            required
          />

          <label for="Password">Password</label>
          <input
            class="ls__form_inp"
            type="password"
            name="Password"
            id="Password"
            required
          />
          <!-- Error Message Display -->
          {% if messages %}
          <div class="error-messages">
            {% for message in messages %}
            <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
          </div>
          {% endif %}

          <input class="ls__form_inp btn" type="submit" value="Sign In" />
          <input type="hidden" name="action" value="signin" />
        </form>
      </div>

      <div
        class="cntr_signup {% if show_signup %}active{% else %}hidden{% endif %}"
      >
        <h1 class="title signup">Sign Up</h1>
        <h4 class="context signup">
          Join us in <span class="__task">Task</span
          ><span class="__flow">Flow!</span>
        </h4>
        <form action="{% url 'save_user' %}" method="POST">
          {% csrf_token %}
          <label for="Username">Username</label>
          <input
            class="ls__form_inp"
            type="text"
            name="Username"
            id="signup_Username"
            required
          />

          <label for="Email">Email</label>
          <input
            class="ls__form_inp"
            type="email"
            name="Email"
            id="Email"
            required
          />

          <label for="Password">Password</label>
          <input
            class="ls__form_inp"
            type="password"
            name="Password"
            id="signup_Password"
            required
          />

          <label for="ConfirmPassword">Confirm Password</label>
          <input
            class="ls__form_inp"
            type="password"
            name="ConfirmPassword"
            id="signup_ConfirmPassword"
            required
          />

          <label for="Role">Role</label>
          <select class="ls__form_inp select" name="Role" id="Role" required>
            <option value="team_member">Team Member</option>
            <option value="project_leader">Project Leader</option>
          </select>

          <!-- Error Message Display -->
          {% if messages %}
          <div class="error-messages">
            {% for message in signup_messages %}
            <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
          </div>
          {% endif %}

          <input class="ls__form_inp btn" type="submit" value="Sign Up" />
          <input type="hidden" name="action" value="signup" />
        </form>
      </div>

      <div class="switch-container">
        <p id="show-signup">
          Don't have an account? <span class="switch-link">Sign Up</span>
        </p>
        <p id="show-signin" class="hidden">
          Already have an account? <span class="switch-link">Sign In</span>
        </p>
      </div>
    </div>

    <script src="{% static 'JS/Login_js.js' %}"></script>
  </body>
</html>
