<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskFlow</title>
  </head>
  <body>
    {{ message }}
    <div class="__sidebar">
      <ul class="__sidebar_contents">
        <li class="sb_content">Dashboard</li>
        <li class="sb_content">Projects</li>
        <li class="sb_content">Tasks</li>
        <li class="sb_content">Team Management</li>
        <li class="sb_content">Reports</li>
        <li class="sb_content">Settings</li>
      </ul>
    </div>
  </body>
</html>
